!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title Hyalite counter example
    %link(href="prelude.css" rel="stylesheet")
    %link(href="spectre.css" rel="stylesheet")
    = javascript_include_tag 'application'

  %body
    #container
